###############
#    Files    #
###############
erl_crash.dump
prod.secret.exs
mix.lock
*.ez
*.png

###############
# Directories #
###############
**/node_modules
**/priv/static/
**/_build
**/cover
**/deps
**/doc
